@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$red: rgb(245, 66, 53);
$green: rgb(59, 212, 146);
$blue: rgb(45, 195, 219);

@mixin modalBtn {
    border-radius: 3.5vw;
    padding: 0;
    margin: 0;
    width: 95%;
    justify-self: center;
    box-shadow: -3px 2px 15px  rgba(0,0,0,.5);
    border: 0.25vw solid rgba(0,0,0,0.8);

    p {
        font-size: 4.5vw;
        @include textOpac();
        padding: 1vw 5vw;
    }
}
@mixin boldMS {
    font-weight: 800;
    font-size: 4.5vw;
}
@mixin boldLS {
    font-weight: 800;
    font-size: 6vw;
}
@mixin mopo {
    margin: 0;
    padding: 0;
}
@mixin textOpac {
    color: black;
    opacity: 0.7;
}
$clear-color: #8C69D2;
$dark-color: #4E3A76;
body {
    background-color: $clear-color;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 7.5vw;
    font-weight: 900;
    text-transform: uppercase;
    color: $dark-color;
    margin: 20px 7.5vw 10px;
}
#btn-wrapper {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}
.btn {
    background-color: $dark-color;
    padding: 10px;
    margin: 5px;
    border-radius: 40px;
    width: 100%;
    p {
        color: $clear-color;
        margin: 0 20px;
        @include boldMS()
    }
}
.days {
    p {
        @include boldLS();
        color: $dark-color;
        margin: 10px 7.5vw;
    }
}
.subj-wrapper {
    width: 85vw;
    margin: 3vw auto;
    border-radius: 12px;
    background-color: #D1DF71;
    display: grid;
    grid-template-areas: 
        'subj subj extra'
        'type time time';
    p {
        @include mopo();
        @include textOpac();
        font-size: 3vw;
        font-weight: 700;
        display: inline-block;
        padding: 4vw 4vw;
    }
    .subject {
        font-size: 4.5vw;
        grid-area: subj;
    }
    .subj-extra {
        grid-area: extra;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        white-space: nowrap;
        padding: 4vw 0 0;
        
        p {
            font-weight: 600;
            padding-top: 0;
            padding-bottom: 0;
            overflow-x: visible;
        }
    }
    .subj-type{
        grid-area: type;
    }
    .time {
        grid-area: time;
        font-size: 3.75vw;
        text-align: end;
    }
}
#modal-wrapper {
    @include mopo();
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    width: 100vw;
    &.add {
        background-color: rgba(59, 212, 146, .75);
    }
    &.edit {
        background-color: rgba(45, 195, 219,.75);;
    }
    &.del {
        background-color: rgba(245, 66, 53, .75);
    }
}
.modal {
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin: 10vw auto;
    background-color: rgb(59, 212, 146);
    // padding: 3.5vw;
    border-radius: 3vw;
    border: 0.25vw solid rgba(0,0,0,0.8);
    box-shadow: -3px 2px 15px  rgba(0,0,0,.5);
    p {
        @include textOpac();
        font-size: 6vw;
        font-weight: 800;
        margin: 0;
        padding: 3.5vw;
    }
    label {
        font-size: 4.5vw;
        font-weight: 700;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
        align-items: center;
        // grid-area: label;
        margin: 2vw 0;
        @include textOpac();
        padding: 0 3.5vw;
    }
    input {
        align-self: flex-end;
        justify-self: flex-end;
        font-weight: 600;
        font-family: inherit;
        background-color: inherit;
        // grid-area: input;
        border: 0.3vw solid rgba(0,0,0,1);
        border-radius: 2vw;
        font-size: 3.5vw;
        padding: 2vw;
        // width: 100%;
        width: 70%;
    }
    select {
        border: 0.3vw solid rgba(0,0,0,1);
        // grid-area: input;
        font-weight: 600;
        font-family: inherit;
        font-size: 3.5vw;
        padding: 2vw;
        border-radius: 2vw;
        background-color: transparent;
        width: 70%;
        justify-self: flex-end;
    }
    .btn-modal-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 3.5vw;
        .cancel {
            background-color: $red;
            @include modalBtn();
        }
        .ok {
            background-color: $green;
            @include modalBtn();
        }
    }
    &.add {
        background-color: $green;
    }
    &.edit {
        background-color: $blue;
    }
    &.del {
        background-color: $red;
    }
}
.invisible {
    display: none;
}