@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$red: rgb(245, 66, 53);
$green: rgb(59, 212, 146);
$blue: rgb(45, 195, 219);

@mixin modalBtn {
    border-radius: 3.5vw;
    padding: 0;
    margin: 0;
    width: 95%;
    justify-self: center;
    box-shadow: -3px 2px 15px  rgba(0,0,0,.5);
    border: 0.25vw solid rgba(0,0,0,0.8);

    p {
        font-size: 4.5vw;
        @include textOpac();
        padding: 1vw 5vw;
    }
}

@mixin boldMS {
    font-weight: 800;
    font-size: 4.5vw;
}
@mixin boldLS {
    font-weight: 800;
    font-size: 6vw;
}
@mixin mopo {
    margin: 0;
    padding: 0;
}
@mixin textOpac {
    color: black;
    opacity: 0.7;
}
$clear-color: #8C69D2;
$dark-color: #4E3A76;
body {
    background-color: $clear-color;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 7.5vw;
    font-weight: 900;
    text-transform: uppercase;
    color: $dark-color;
    margin: 20px 7.5vw 10px;
    user-select: none;
}
#btn-wrapper {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}
.btn {
    background-color: $dark-color;
    margin: 0.95vw;
    padding: 2vw;
    border-radius: 40px;
    width: 100%;
    display: flex;
    p {
        color: $clear-color;
        margin: 0 3vw;
        @include boldMS();
        user-select: none;
    }

    &#add-btn {
        .btn-icon path {
            stroke: $clear-color;
            stroke-width: 10px;
        }
    }

    .btn-icon {
        align-self: center;
        margin-right: 2.5vw;
        margin-left: auto;
        width: 4.5vw;
        height: 4.5vw;
        fill: $clear-color;
    }

    &.active {
        &.edit{
            background-color: $blue;
            cursor: pointer;
            p, .btn-icon {
                @include textOpac();
            }
        }
        &.del {
            background-color: $red;
            cursor: pointer;
            p, .btn-icon {
                @include textOpac();
            }
        }
        svg {
            fill: black;
            opacity: 0.7;
        }
        #plus-svg path {
            stroke: black;
            opacity: 0.9;
        }
    }

    &:hover {
        &.add {
            background-color: $green;
            cursor: pointer;
            p, .btn-icon {
                @include textOpac();
            }
        }
        &.edit{
            background-color: $blue;
            cursor: pointer;
            p, .btn-icon {
                @include textOpac();
            }
        }
        &.del{
            background-color: $red;
            cursor: pointer;
            p, .btn-icon {
                @include textOpac();
            }
        }
        svg {
            fill: black;
            opacity: 0.7;
        }
        #plus-svg path {
            stroke: black;
            opacity: 0.9;
        }
        cursor: pointer;
    }
}
.days {
    p {
        @include boldLS();
        color: $dark-color;
        margin: 10px 7.5vw;
        user-select: none;
    }
}

%event-text {
    @include mopo();
    @include textOpac();
    user-select: text;
    vertical-align: middle;
    padding: 0.25vw 4.5vw;
    overflow: hidden;
}

.subj-wrapper {
    width: 85vw;
    margin: 2vw auto;
    border-radius: 12px;
    background-color: #D1DF71;
    display: flex;
    flex-direction: column;
    padding: 2vw 0;

    .subject {
        font-size: 4.75vw;
        font-weight: 700;
        @extend %event-text;
    }
    .subj-dsc{
        font-size: 3.25vw;
        font-weight: 600;
        @extend %event-text;
    }
    .time {
        font-weight: 700;
        font-size: 4.25vw;
        text-align: end;
        @extend %event-text;
    }
    &.active:hover {
        border: 0.2vw solid white;
        cursor: pointer;
    }
}

#modal-wrapper {
    @include mopo();
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    width: 100vw;
    min-height: 100vh;
    &.add {
        background-color: rgba(59, 212, 146, .75);
    }
    &.edit {
        background-color: rgba(45, 195, 219,.75);;
    }
    &.del {
        background-color: rgba(245, 66, 53, .75);
    }
}
.modal {
    width: 85vw;
    display: flex;
    flex-direction: column;
    margin: 15vw auto;
    background-color: rgb(59, 212, 146);
    // padding: 3.5vw;
    border-radius: 3vw;
    border: 0.25vw solid rgba(0,0,0,0.8);
    box-shadow: -3px 2px 15px  rgba(0,0,0,.5);
    p {
        @include textOpac();
        font-size: 6vw;
        font-weight: 800;
        margin: 0;
        padding: 3.5vw;
    }
    label {
        font-size: 4.5vw;
        font-weight: 700;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
        align-items: center;
        margin: 2vw 0;
        @include textOpac();
        padding: 0 3.5vw;
    }
    input {
        justify-self: flex-end;
        font-weight: 600;
        font-family: inherit;
        background-color: inherit;
        border: 0.3vw solid rgba(0,0,0,1);
        border-radius: 2vw;
        font-size: 3.5vw;
        padding: 2vw;
        width: 70%;
    }
    select {
        border: 0.3vw solid rgba(0,0,0,1);
        font-weight: 600;
        font-family: inherit;
        font-size: 3.5vw;
        padding: 2vw;
        border-radius: 2vw;
        background-color: transparent;
        width: 70%;
        justify-self: flex-end;
    }
    .btn-modal-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 3.5vw;
        .cancel {
            background-color: $red;
            @include modalBtn();
        }
        .ok {
            background-color: $green;
            @include modalBtn();
        }
    }
    &.add {
        background-color: $green;
    }
    &.edit {
        background-color: $blue;
    }
    &.del {
        background-color: $red;
    }
}
.invisible {
    display: none !important;
}

#sch-hours {
    display: none;
}

// .editable:hover {
//     border: 0.2vw solid white;
//     cursor: pointer;
// }

@media screen and (min-width: 540px) {
    .btn .btn-icon {
        height: 3vw;
        width: 3vw;
    }
    h1 {
        // font-weight: 800;
        font-size: 5.5vw;
    }
    #btn-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 1vw;
        width: 85vw;
    }
    .btn {
        margin: 0;
        padding: 2vw 0;
        border-radius: 3.5vw;
        p {
            font-size: 2.5vw;
        }
    }
    .days p {
        font-size: 3.5vw;
    }
    .subj-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        width: 85vw;
        margin: 0 auto;
        gap: 1.5vw;
        .subj-wrapper {
            width: 100%;
            margin: 0;
            p {
                padding: 2vw;
            }
            .subject {
                font-size: 2.75vw;
                display: flex;
                flex-direction: column;
                align-self: flex-start;
            }
            .subj-extra {
                padding: 2vw 0 0;
                p {
                    font-size: 1.5vw;
                    padding: 0.2vw 2vw;
                }  
            }
            .subj-dsc {
                font-size: 1.5vw;
                display: flex;
                flex-direction: column;
                align-self: flex-end;
                // padding-top: 0;
            }
            .time {
                padding-top: 0;
                font-size: 2.5vw;
                display: flex;
                flex-direction: column;
                align-self: flex-end;
            }
        }
    }
    .modal {
        width: 70vw;
        p {
            font-size: 4.5vw;
            padding: 2vw 3.5vw;
        }
        label {
            font-size: 3.5vw;
        }
        input, select {
            font-size: 2.75vw;
        }
        .btn-modal-wrapper {
            padding: 2vw;
            .btn {
                border: 0.3vw solid rgba(0,0,0,0.8);
            }
            .cancel p, .ok p {
                font-size: 3.5vw;
            }
        }
    }
}

@media screen and (min-width: 1366px) {
    .btn .btn-icon {
        height: 1.75vw;
        width: 1.75vw;
    }
    #sch-hours {
        display: flex;
    }
    h1 {
        font-size: 3.5vw;
    }
    #btn-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0.5vw;
        width: 85vw;
    }
    .btn {
        margin: 0;
        padding: 0.4vw 0;
        border-radius: 3vw;
        p {
            font-size: 1.5vw;
        }
    }
    #days-wrapper {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        width: 85vw;
        margin: 0 auto;
        background-color: $dark-color;
        border-radius: 2vw;
        padding: 1vw 0;
    }
    .days {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0.5px solid $clear-color;
        border-top: 0;
        border-bottom: 0;
    }

    .days > p {
        padding: 0 0 1vw 0;
        font-size: 1.5vw;
        text-align: center;
        margin: 0;
        color: $clear-color;
    }
    .subj-container {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(auto, 1fr);
        // width: 85vw;
        width: 90%;
        margin: 0;
        gap: 0.3vw;
        .subj-wrapper {
            margin: 0;
            padding: 0vw;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto, 1fr);
            .subject,
            .subj-dsc,
            .subj-extra,
            .time {
                margin: 0.3vw 0;
            }

            p {
                padding: 0.1vw 1vw;
            }
            .subject {
                font-size: 1.1vw;
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                grid-row: 1/2;
                grid-column: 1/2;
            }
            .subj-extra {
                padding: 0;
                grid-row: 3/4;
                grid-column: 1/2;
                flex-direction: column;
                justify-self: flex-start;
                align-items: flex-start;
                text-align: start;
                p {
                    font-size: 0.8vw;
                    padding: 0 1vw;
                }  
            }
            .subj-dsc {
                font-size: 0.8vw;
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                // padding-top: 0;
                grid-row: 2/3;
                grid-column: 1/2;
            }
            .time {
                padding-top: 0;
                font-size: 1vw;
                // display: block;
                // display: flex;
                flex-direction: row;
                align-self: flex-start;
                grid-row: 4/5;
                grid-column: 1/2;
            }
        }
    }
    #modal-wrapper {
        display: flex;
        align-content: center;
    }
    .modal {
        width: 35vw;
        border: 0.15vw solid rgba(0,0,0,1);
        margin: auto;
        p {
            font-size: 2vw;
            padding: 1.2vw 3.5vw;
        }
        label {
            font-size: 1.5vw;
            margin: 0.75vw 0;
        }
        input, select {
            border-radius: 1.3vw;
            border: 0.15vw solid rgba(0,0,0,1);
            padding: 1vw;
            font-size: 1vw;
        }
        .btn-modal-wrapper {
            padding: 1.5vw;
            .btn {
                border: 0.15vw solid rgba(0,0,0,0.8);
            }
            .cancel p, .ok p {
                font-size: 1.75vw;
                padding: 0.3vw 3vw;
            }
        }
    }
}