@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #8C69D2;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 7.5vw;
  font-weight: 900;
  text-transform: uppercase;
  color: #4E3A76;
  margin: 20px 7.5vw 10px;
  user-select: none;
}

#btn-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.btn {
  background-color: #4E3A76;
  margin: 0.95vw;
  padding: 2vw;
  border-radius: 40px;
  width: 100%;
  display: flex;
}
.btn p {
  color: #8C69D2;
  margin: 0 3vw;
  font-weight: 800;
  font-size: 4.5vw;
  user-select: none;
}
.btn#add-btn .btn-icon path {
  stroke: #8C69D2;
  stroke-width: 10px;
}
.btn .btn-icon {
  align-self: center;
  margin-right: 2.5vw;
  margin-left: auto;
  width: 4.5vw;
  height: 4.5vw;
  fill: #8C69D2;
}
.btn.active.edit {
  background-color: #2dc3db;
  cursor: pointer;
}
.btn.active.edit p, .btn.active.edit .btn-icon {
  color: black;
  opacity: 0.7;
}
.btn.active.del {
  background-color: #f54235;
  cursor: pointer;
}
.btn.active.del p, .btn.active.del .btn-icon {
  color: black;
  opacity: 0.7;
}
.btn.active svg {
  fill: black;
  opacity: 0.7;
}
.btn.active #plus-svg path {
  stroke: black;
  opacity: 0.9;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover.add {
  background-color: #3bd492;
  cursor: pointer;
}
.btn:hover.add p, .btn:hover.add .btn-icon {
  color: black;
  opacity: 0.7;
}
.btn:hover.edit {
  background-color: #2dc3db;
  cursor: pointer;
}
.btn:hover.edit p, .btn:hover.edit .btn-icon {
  color: black;
  opacity: 0.7;
}
.btn:hover.del {
  background-color: #f54235;
  cursor: pointer;
}
.btn:hover.del p, .btn:hover.del .btn-icon {
  color: black;
  opacity: 0.7;
}
.btn:hover svg {
  fill: black;
  opacity: 0.7;
}
.btn:hover #plus-svg path {
  stroke: black;
  opacity: 0.9;
}

.days p {
  font-weight: 800;
  font-size: 6vw;
  color: #4E3A76;
  margin: 10px 7.5vw;
  user-select: none;
}

.subj-wrapper {
  width: 85vw;
  margin: 3vw auto;
  border-radius: 12px;
  background-color: #D1DF71;
  display: grid;
  grid-template-areas: "subj subj extra" "type time time";
}
.subj-wrapper p {
  margin: 0;
  padding: 0;
  color: black;
  opacity: 0.7;
  display: inline-block;
  padding: 4vw 4vw;
  user-select: text;
}
.subj-wrapper .subject {
  font-size: 4.5vw;
  grid-area: subj;
  font-weight: 700;
}
.subj-wrapper .subj-extra {
  grid-area: extra;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  white-space: nowrap;
  padding: 4vw 0 0;
}
.subj-wrapper .subj-extra p {
  font-size: 3vw;
  font-weight: 600;
  padding-top: 0;
  padding-bottom: 0;
  overflow-x: visible;
}
.subj-wrapper .subj-dsc {
  font-weight: 700;
  font-size: 3vw;
  grid-area: type;
}
.subj-wrapper .time {
  font-weight: 700;
  grid-area: time;
  font-size: 3.75vw;
  text-align: end;
}
.subj-wrapper.active:hover {
  border: 0.2vw solid white;
  cursor: pointer;
}

#modal-wrapper {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  width: 100vw;
  min-height: 100vh;
}
#modal-wrapper.add {
  background-color: rgba(59, 212, 146, 0.75);
}
#modal-wrapper.edit {
  background-color: rgba(45, 195, 219, 0.75);
}
#modal-wrapper.del {
  background-color: rgba(245, 66, 53, 0.75);
}

.modal {
  width: 85vw;
  display: flex;
  flex-direction: column;
  margin: 15vw auto;
  background-color: #3bd492;
  border-radius: 3vw;
  border: 0.25vw solid rgba(0, 0, 0, 0.8);
  box-shadow: -3px 2px 15px rgba(0, 0, 0, 0.5);
}
.modal p {
  color: black;
  opacity: 0.7;
  font-size: 6vw;
  font-weight: 800;
  margin: 0;
  padding: 3.5vw;
}
.modal label {
  font-size: 4.5vw;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  align-items: center;
  margin: 2vw 0;
  color: black;
  opacity: 0.7;
  padding: 0 3.5vw;
}
.modal input {
  justify-self: flex-end;
  font-weight: 600;
  font-family: inherit;
  background-color: inherit;
  border: 0.3vw solid black;
  border-radius: 2vw;
  font-size: 3.5vw;
  padding: 2vw;
  width: 70%;
}
.modal select {
  border: 0.3vw solid black;
  font-weight: 600;
  font-family: inherit;
  font-size: 3.5vw;
  padding: 2vw;
  border-radius: 2vw;
  background-color: transparent;
  width: 70%;
  justify-self: flex-end;
}
.modal .btn-modal-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 3.5vw;
}
.modal .btn-modal-wrapper .cancel {
  background-color: #f54235;
  border-radius: 3.5vw;
  padding: 0;
  margin: 0;
  width: 95%;
  justify-self: center;
  box-shadow: -3px 2px 15px rgba(0, 0, 0, 0.5);
  border: 0.25vw solid rgba(0, 0, 0, 0.8);
}
.modal .btn-modal-wrapper .cancel p {
  font-size: 4.5vw;
  color: black;
  opacity: 0.7;
  padding: 1vw 5vw;
}
.modal .btn-modal-wrapper .ok {
  background-color: #3bd492;
  border-radius: 3.5vw;
  padding: 0;
  margin: 0;
  width: 95%;
  justify-self: center;
  box-shadow: -3px 2px 15px rgba(0, 0, 0, 0.5);
  border: 0.25vw solid rgba(0, 0, 0, 0.8);
}
.modal .btn-modal-wrapper .ok p {
  font-size: 4.5vw;
  color: black;
  opacity: 0.7;
  padding: 1vw 5vw;
}
.modal.add {
  background-color: #3bd492;
}
.modal.edit {
  background-color: #2dc3db;
}
.modal.del {
  background-color: #f54235;
}

.invisible {
  display: none !important;
}

#sch-hours {
  display: none;
}

@media screen and (min-width: 540px) {
  .btn .btn-icon {
    height: 3vw;
    width: 3vw;
  }

  h1 {
    font-size: 5.5vw;
  }

  #btn-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 1vw;
    width: 85vw;
  }

  .btn {
    margin: 0;
    padding: 2vw 0;
    border-radius: 3.5vw;
  }
  .btn p {
    font-size: 2.5vw;
  }

  .days p {
    font-size: 3.5vw;
  }

  .subj-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    width: 85vw;
    margin: 0 auto;
    gap: 1.5vw;
  }
  .subj-container .subj-wrapper {
    width: 100%;
    margin: 0;
  }
  .subj-container .subj-wrapper p {
    padding: 2vw;
  }
  .subj-container .subj-wrapper .subject {
    font-size: 2.75vw;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .subj-container .subj-wrapper .subj-extra {
    padding: 2vw 0 0;
  }
  .subj-container .subj-wrapper .subj-extra p {
    font-size: 1.5vw;
    padding: 0.2vw 2vw;
  }
  .subj-container .subj-wrapper .subj-dsc {
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  .subj-container .subj-wrapper .time {
    padding-top: 0;
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }

  .modal {
    width: 70vw;
  }
  .modal p {
    font-size: 4.5vw;
    padding: 2vw 3.5vw;
  }
  .modal label {
    font-size: 3.5vw;
  }
  .modal input, .modal select {
    font-size: 2.75vw;
  }
  .modal .btn-modal-wrapper {
    padding: 2vw;
  }
  .modal .btn-modal-wrapper .btn {
    border: 0.3vw solid rgba(0, 0, 0, 0.8);
  }
  .modal .btn-modal-wrapper .cancel p, .modal .btn-modal-wrapper .ok p {
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 1366px) {
  .btn .btn-icon {
    height: 1.75vw;
    width: 1.75vw;
  }

  #sch-hours {
    display: flex;
  }

  h1 {
    font-size: 3.5vw;
  }

  #btn-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0.5vw;
    width: 85vw;
  }

  .btn {
    margin: 0;
    padding: 0.4vw 0;
    border-radius: 3vw;
  }
  .btn p {
    font-size: 1.5vw;
  }

  #days-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 85vw;
    margin: 0 auto;
    background-color: #4E3A76;
    border-radius: 2vw;
    padding: 1vw 0;
  }

  .days {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #8C69D2;
    border-top: 0;
    border-bottom: 0;
  }

  .days > p {
    padding: 0 0 1vw 0;
    font-size: 1.5vw;
    text-align: center;
    margin: 0;
    color: #8C69D2;
  }

  .subj-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    width: 90%;
    margin: 0;
    gap: 0.3vw;
  }
  .subj-container .subj-wrapper {
    margin: 0;
    padding: 0vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
  }
  .subj-container .subj-wrapper .subject,
.subj-container .subj-wrapper .subj-dsc,
.subj-container .subj-wrapper .subj-extra,
.subj-container .subj-wrapper .time {
    margin: 0.3vw 0;
  }
  .subj-container .subj-wrapper p {
    padding: 0.1vw 1vw;
  }
  .subj-container .subj-wrapper .subject {
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .subj-container .subj-wrapper .subj-extra {
    padding: 0;
    grid-row: 3/4;
    grid-column: 1/2;
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
    text-align: start;
  }
  .subj-container .subj-wrapper .subj-extra p {
    font-size: 0.8vw;
    padding: 0 1vw;
  }
  .subj-container .subj-wrapper .subj-dsc {
    font-size: 0.8vw;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .subj-container .subj-wrapper .time {
    padding-top: 0;
    font-size: 1vw;
    flex-direction: row;
    align-self: flex-start;
    grid-row: 4/5;
    grid-column: 1/2;
  }

  #modal-wrapper {
    display: flex;
    align-content: center;
  }

  .modal {
    width: 35vw;
    border: 0.15vw solid black;
    margin: auto;
  }
  .modal p {
    font-size: 2vw;
    padding: 1.2vw 3.5vw;
  }
  .modal label {
    font-size: 1.5vw;
    margin: 0.75vw 0;
  }
  .modal input, .modal select {
    border-radius: 1.3vw;
    border: 0.15vw solid black;
    padding: 1vw;
    font-size: 1vw;
  }
  .modal .btn-modal-wrapper {
    padding: 1.5vw;
  }
  .modal .btn-modal-wrapper .btn {
    border: 0.15vw solid rgba(0, 0, 0, 0.8);
  }
  .modal .btn-modal-wrapper .cancel p, .modal .btn-modal-wrapper .ok p {
    font-size: 1.75vw;
    padding: 0.3vw 3vw;
  }
}

/*# sourceMappingURL=app.css.map */
